#ingredient_name	ingredient_count	ingredient_tag
ingredient_094	1	organic
ingredient_079	3	non-organic
ingredient_090	2	organic
ingredient_168	1	non-organic
ingredient_073	1	non-organic
ingredient_155	1	non-organic
ingredient_156	1	organic
ingredient_045	1	non-organic
ingredient_077	2	organic
ingredient_076	1	non-organic
ingredient_048	1	organic
ingredient_051	1	organic
ingredient_036	1	organic
ingredient_034	1	non-organic
ingredient_055	1	non-organic
ingredient_054	1	non-organic
ingredient_033	1	organic
ingredient_030	1	organic
ingredient_059	1	non-organic
ingredient_014	2	non-organic
ingredient_134	1	non-organic
ingredient_113	1	non-organic
ingredient_132	2	non-organic
ingredient_017	1	non-organic
ingredient_038	2	non-organic
ingredient_047	3	non-organic
ingredient_135	1	organic
ingredient_100	1	non-organic
ingredient_024	1	non-organic
ingredient_060	1	non-organic
ingredient_042	1	non-organic
ingredient_123	1	non-organic
ingredient_009	1	organic
ingredient_086	1	non-organic
ingredient_087	1	organic
ingredient_084	1	non-organic
ingredient_016	1	organic
ingredient_069	1	non-organic
ingredient_080	1	non-organic
ingredient_150	1	non-organic
ingredient_141	1	non-organic
ingredient_147	1	non-organic
ingredient_061	2	non-organic
ingredient_062	1	organic
ingredient_144	1	non-organic
ingredient_111	1	organic
ingredient_163	1	organic
ingredient_104	1	non-organic
ingredient_107	1	organic
ingredient_164	1	non-organic
ingredient_008	1	non-organic
ingredient_166	1	non-organic
ingredient_124	1	non-organic
ingredient_022	1	non-organic
ingredient_049	1	non-organic
ingredient_121	1	non-organic
ingredient_026	1	organic
ingredient_122	1	organic
ingredient_028	2	non-organic
ingredient_044	1	non-organic
ingredient_119	1	non-organic
ingredient_176	1	organic
ingredient_139	1	non-organic
ingredient_171	1	non-organic
ingredient_161	2	non-organic
ingredient_165	1	non-organic
ingredient_128	1	non-organic
