#ingredient_name	ingredient_count	ingredient_tag
ingredient_094	1	null
ingredient_045	1	null
ingredient_090	2	null
ingredient_073	1	null
ingredient_155	1	null
ingredient_156	1	null
ingredient_166	1	null
ingredient_077	2	null
ingredient_079	3	null
ingredient_111	1	null
ingredient_051	1	null
ingredient_036	1	null
ingredient_034	1	null
ingredient_055	1	null
ingredient_054	1	null
ingredient_030	1	null
ingredient_059	1	null
ingredient_014	2	null
ingredient_134	1	null
ingredient_113	1	null
ingredient_132	2	null
ingredient_017	1	null
ingredient_038	2	null
ingredient_135	1	null
ingredient_147	1	null
ingredient_100	1	null
ingredient_121	1	null
ingredient_026	1	null
ingredient_123	1	null
ingredient_028	2	null
ingredient_124	1	null
ingredient_086	1	null
ingredient_087	1	null
ingredient_084	1	null
ingredient_016	1	null
ingredient_069	1	null
ingredient_080	1	null
ingredient_150	1	null
ingredient_141	1	null
ingredient_060	1	null
ingredient_061	2	null
ingredient_062	1	null
ingredient_144	1	null
ingredient_107	1	null
ingredient_163	1	null
ingredient_104	1	null
ingredient_165	1	null
ingredient_164	1	null
ingredient_008	1	null
ingredient_009	1	null
ingredient_168	1	null
ingredient_022	1	null
ingredient_049	1	null
ingredient_024	1	null
ingredient_176	1	null
ingredient_122	1	null
ingredient_042	1	null
ingredient_044	1	null
ingredient_128	1	null
ingredient_119	1	null
ingredient_048	1	null
ingredient_139	1	null
ingredient_076	1	null
ingredient_171	1	null
ingredient_161	2	null
ingredient_033	1	null
ingredient_047	3	null
