#item_name	ingredients
recipe_66	ingredient_049	ingredient_135	ingredient_038	ingredient_008	ingredient_134	ingredient_033	ingredient_014	ingredient_036	ingredient_164
ingredient_087	ingredient_087
ingredient_084	ingredient_084
ingredient_060	ingredient_060
ingredient_080	ingredient_080
recipe_73	ingredient_042	ingredient_077	ingredient_009	ingredient_077	ingredient_141	ingredient_073
recipe_79	ingredient_113	ingredient_055	ingredient_161	ingredient_176	ingredient_107	ingredient_168	ingredient_054	ingredient_122	ingredient_086	ingredient_166
recipe_15	ingredient_119	ingredient_030	ingredient_045	ingredient_028	ingredient_124	ingredient_034	ingredient_155	ingredient_079	ingredient_165
recipe_83	ingredient_150	ingredient_144	ingredient_079	ingredient_014
recipe_26	ingredient_090	ingredient_061	ingredient_026	ingredient_163
recipe_25	ingredient_047	ingredient_104	ingredient_047	ingredient_123	ingredient_156	ingredient_022	ingredient_147	ingredient_094
ingredient_028	ingredient_028
recipe_59	ingredient_161	ingredient_069
ingredient_171	ingredient_171
ingredient_132	ingredient_132
ingredient_128	ingredient_128
ingredient_111	ingredient_111
ingredient_024	ingredient_024
recipe_41	ingredient_044	ingredient_017	ingredient_100	ingredient_038	ingredient_132	ingredient_051	ingredient_139	ingredient_016	ingredient_061
recipe_98	ingredient_076	ingredient_062	ingredient_121	ingredient_079	ingredient_059	ingredient_047	ingredient_090	ingredient_048
