<!DOCTYPE html>

<html>
<head>
    <title>Calculation</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav id="main-nav">
        <ul>
            <li id="nav-logo"><a href="./index.html"><img src="budget-basket.png"></a></li>
            <li><a href="./recipes.html">Available Recipes</a></li>
            <li><a href="./basket.html">My Basket</a></li>
            <li><a href="./calculation.html">Budget Calculation</a></li>
            <li><a href="#">My Account</a></li>
            
        </ul>
    </nav>
    <h1>Basket Calculations</h1>
    <div id="calculation-content">
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
            <br>
            <div class="total">
                <p>Total Amount</p>
            </div>
        </div>
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
        </div>
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
        </div>
    </div>
    


</body>
</html>
