<!DOCTYPE html>

<html>
<head>
    <title>Calculation</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav id="main-nav">
        <ul>
            <li id="nav-logo"><a href="./app/views/recipe/index.html.erb"><img src="./app/assets/images/budget-basket.png"></a></li>
            <li><a href="./app/views/recipe/recipes.html.erb">Available Recipes</a></li>
            <li><a href="./app/views/recipe/basket.html.erb">My Basket</a></li>
            <li><a href="./app/views/recipe/calculation.html.erb">Budget Calculation</a></li>
        </ul>
    </nav>
    <h1>Basket Calculations</h1>
    <div id="calculation-content">
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
            <br>
            <div class="total">
                <p>Total Amount</p>
            </div>
        </div>
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
        </div>
        <div class="calculation">
            <div class="route">
                <p>This is where the route will go.</p>
            </div>
        </div>
    </div>
    


</body>
</html>
