<!DOCTYPE html>

<html>
<head>
    <title>Budget Basket</title>
    <meta name="description" content="Budget Basket">
    <meta name="author" content="Sarah Taylor">
    
    <link rel="stylesheet" href="../assets/styelsheets/style.css">
</head>

<body>

<nav id="main-nav">
        <ul>
            <li id="nav-logo"><a href="/views/recipe/index.html.erb"><img src="/assets/budget-basket.png"></a></li>
            <li><a href="/views/recipe/recipes.html.erb">Available Recipes</a></li>
            <li><a href="/views/recipe/basket.html.erb">My Basket</a></li>
            <li><a href="/views/recipe/calculation.html.erb">Budget Calculation</a></li>
        </ul>
    </nav>
<div id="logo">
    <img src="/assets/budget-basket.png"/>
</div>

<div id="main-content">
    <div id="row-content">
        <div class="flex-four" id="one">
            <img src="/assets/list.png">
            <br/>
            <p>
                Find A Recipe
            </p>
        </div>
        <div class="flex-four" id="two">
            <img src="/assets/basket.png">
            <br/>
            <p>
                Build A Basket
            </p>
        </div>
        <div class="flex-four" id="three">
            <img src="/assets/dollar-sign-symbol.png">
            <br/>
            <p>
                Budget Your Basket
            </p>
        </div>
        <div class="flex-four" id="four">
            <img src="/assets/groceries.png">
            <br/>
            <p>
                Shop Your Budget
            </p>
        </div>
    </div>
    <br/>
    <div class="next-step-btn">
        <button type="button" onclick="window.location.href='/views/recipes.html.erb';">
            Check Out Our Recipes
        </button>
    </div>
</div>


</body>
</html>
