body, html{
   margin:0;
   height:100%;
   font-family: Arial;
}
h1{
    text-align:center;
}
#main-content{
    flex: 1 0 auto;
    padding: 0px 50px 0px 50px;
    min-height:800px;
}
#row-content{
    width:100%;
    display:flex;
    justify-content: center;
}
#logo img{
   display: block;
   margin: 0 auto;
   margin-bottom:50px;
}
.flex-four{
    width: 20%;
    
}
.flex-four p{
   font-size: 20px;
   text-align: center;
   margin: 0px;
}
.flex-four img{
   max-height: 130px;
   display: block;
   margin: 0 auto;
   
}
.next-step-btn{
    width: 300px;
    margin: 0 auto;
    margin-bottom:50px;
}
.next-step-btn a{
    display:block;
    padding: 20px !important;
    border-radius: 5px;
    color: white;
    background-color: #dc3545;
    font-size: 18px !important;
    margin:0 auto;
    text-align:center;
    margin-top: 100px;
    text-decoration: none;
}
.next-step-btn a:hover{
   background-color: #ff0000;
   cursor:pointer;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#recipes-table{
    margin: 0px 100px 0px 100px;
}
#basket-table{
    margin: 0px 100px 0px 100px;
}
#calculation-content{
   margin: 0px 100px 0px 100px;
}
#nav-logo img{
   max-height: 20px;
   margin: 0 auto;
}
nav{
    background-color: #444;
    margin-bottom:50px;
    width: 100%;
}
nav ul{
    display:inline-block;
    margin:0;
    padding:0;
}
nav ul li{
    display:inline-block;
    list-style-type: none;
}
nav ul li a{
    color:#C0C0C0;
    display:block;
    text-decoration: none;
    font-family:arial;
    padding:20px;
}
nav ul li a:hover{
   color:white;
}

}
.loader {
   margin: 0 auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.hidden{
   display: none;
}
.active{
    color: white;
}
.calculation{
   border: black solid 1px;
   margin: 5px;
   min-height: 50px;
   border-radius: 3px;
   display: flex;
   background-color: #eee;
   max-width: 900px;
   margin: 0 auto;
}
.route-map{
}
.route{
   min-width: 300px;
   display: flex;
   flex-flow: column wrap;
}
.total{
   
   margin:125px 40px 40px 40px;
   
}
.route-info{
   min-width: 300px;
   border: 1px solid black;
   padding: 10px;
   margin: 15px;
   border-radius: 3px;
   background-color: #fff;
}
.total p{
   background-color: #dc3545;
   color: white;
   margin: 0 auto;
   text-align: center;
   border: 1px solid black;
   border-radius: 3px;
   padding: 15px;
}
#route-map{
   
   border: 1px solid black;
   margin: 20px;
   max-width: 200px;
   background-color: white;
}
.p-canvas{
   margin: 0 auto;
}
.draw-canvas{
   padding:5px;
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 20px;
}
button.draw-canvas{
   border-radius: 3px;
   background-color: #dc3545;
   color: white;
   padding:10px;
   cursor: pointer;
   border: 1px solid black;
}
button.draw-canvas:hover{
   background-color: red;
}
.store-key{
   border: 1px solid black;
   display: inline-block;
   margin:0 auto;
   height: 50px;
   width: 200px;
   background-color: #fff;
}